@import "../../utils/vars";
@import "../../utils/mixins";

.backdrop {
  position: fixed;

  background-color: $backdrop-color;
  backdrop-filter: $backdrop-blur;
  z-index: 999;

  @include not-desktop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include desktop {
    width: 100%;
    height: 100%;
    margin-left: 270px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 330px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: $alt-bg-color;
  box-shadow: $card-shadow;
  border-radius: $border-radius;

  z-index: 1000;

  @include tablet {
    width: 580px;
  }

  @include desktop {
    left: 40%;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 144px;
  height: 30px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: transparent;
}

.iconClose {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}
