@import "../../utils/vars";
@import "../../utils/mixins";

.layoutWrapperLarge {
  @include desktop {
    display: flex;
    justify-content: center;
    margin-left: 270px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  @include tablet {
    padding-top: 40px;
  }

  @include desktop {
    display: none;
  }
}

.logo {
  width: 144px;
  height: 30px;
}

.burger {
  background: transparent;
  color: inherit;

  transition: $transition;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &IconOpen {
    width: 30px;
    height: 30px;
    color: inherit;
  }

  &IconClose {
    width: 30px;
    height: 30px;
    color: inherit;
  }
}
