@import "../../utils/vars";
@import "../../utils/mixins";

.sidebar {
  display: none;
  @include desktop {
    position: fixed;
    top: 0;
    left: 0;

    display: block;

    height: 100vh;
    width: 270px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;

    border-right: 1px solid $backdrop-color;
  }
}

.logo {
  width: 144px;
  height: 30px;
}

.sidebarMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
}

.menu {
  &Icon {
    margin-right: 10px;
    width: 23px;
    height: 23px;
  }

  &Item {
    font-size: 1.25rem;
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &Link {
    display: flex;
    align-items: center;
    transition: $transition;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }

    &Active {
      display: flex;
      align-items: center;
      color: $link-hover-color;

      &::after {
        content: "";
        display: block;
        width: 3px;
        height: 24px;
        margin-left: auto;
        background-color: $link-hover-color;
        border-radius: 5px;
      }
    }
  }

  &UserWrapper {
    max-width: 200px;
  }

  &UserCard {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &UserInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &UserAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &UserName {
    font-size: 0.875rem;
    overflow-wrap: anywhere;
  }

  &UserEmail {
    font-size: 0.875rem;
    color: $email-color;
    overflow-wrap: anywhere;
  }
}

.logOutBtn {
  display: flex;
  align-items: center;
  justify-content: baseline;

  padding-left: 5px;
  margin-top: 15px;

  font-size: 0.875rem;

  background-color: transparent;
  color: inherit;

  transition: $transition;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  @include mobile-only {
    height: 30px;
    margin-top: 30px;
  }
}

.logOutIcon {
  width: 20px;
  height: 25px;
  margin-right: 10px;

  color: inherit;
}
