@import "../../utils/vars";
@import "../../utils/mixins";

.cardLink {
  display: block;
  &:not(:first-of-type) {
    margin-top: 10px;
  }
  &:hover .userCard,
  &:focus .userCard {
    box-shadow: $card-shadow-hover;
  }
}

.userCard {
  min-height: 100px;

  padding: 20px;

  background: $alt-bg-color;

  box-shadow: $card-shadow;
  border-radius: $border-radius;

  transition: box-shadow $transition;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.userInfoWrapper {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;

  @include tablet {
    width: 48px;
    height: 48px;
  }
}

.userName {
  margin-left: 4px;

  @include tablet {
    font-size: 1.25rem;
  }
}

.userStats {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-only {
    margin-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: flex-end;
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;

    @include tablet {
      width: 80px;
    }

    @include desktop {
      width: unset;
    }
  }

  &Icon {
    width: 24px;
    height: 24px;

    @include tablet {
      width: 36px;
      height: 36px;
    }

    @include desktop {
      width: 40px;
      height: 40px;
    }
  }

  &Name {
    margin-left: 5px;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &Number {
    @include desktop {
      font-size: 1.25rem;
    }
  }

  &Text {
    display: none;
    @include desktop {
      display: block;
    }
  }
}
