@import "./utils/vars";
@import "./utils/mixins";

.section {
  padding-top: 80px;

  @include tablet {
    padding-top: 40px;
  }

  @include desktop {
    padding-top: 60px;
  }

  &.hero {
    padding-top: 40px;
    @include desktop {
      padding-top: 90px;
    }
  }

  &.highScore,
  &.dashboard {
    padding-bottom: 80px;
  }
}

.userCardWrapper {
  margin-top: 25px;
}

.quizCardWrapper {
  margin-top: 25px;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  &.dashboard {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
    }
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subHeader {
  font-size: 1.25rem;
  color: $header-color;

  @include tablet {
    font-size: 2rem;
  }
}

.viewMore {
  font-size: 0.875rem;

  transition: $transition;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  @include tablet {
    font-size: 1rem;
  }
}

.btnMain {
  @include btn($main-btn-color, $alt-btn-color);
}

.btnAlt {
  @include btn($alt-btn-color, $main-btn-color) {
    border: 1px solid $main-btn-color;
  }
}

.visuallyHidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
