@mixin mobile-only {
  @media (max-width: 767.98px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-only {
  @media (min-width: 768px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin not-desktop {
  @media (max-width: 1199.98px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin btn($bg-color, $text-color) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 155px;
  height: 41px;

  padding: 12px 32px;

  font-size: 0.875rem;
  text-align: center;

  background-color: $bg-color;
  color: $text-color;

  opacity: 1;

  border-radius: $border-radius;
  transition: opacity $transition;

  @content;

  @include tablet {
    width: 100%;
    height: 50px;
    font-size: 1rem;
  }

  @include desktop {
    width: 250px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:last-child {
    @include tablet-only {
      margin-top: 20px;
    }
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}
