$main-text-color: #3363ad;
$header-color: #0b4870;
$bg-color: #fafbff;
$alt-bg-color: #ffffff;
$main-btn-color: #3363ad;
$alt-btn-color: #ffffff;
$backdrop-color: #dfdfdf;
$link-hover-color: #9747ff;

$backdrop-opacity: 0.5;
$backdrop-blur: blur(2px);

$border-radius: 6px;
$card-shadow: 2px 6px 15px 3px rgba(7, 21, 10, 0.06);
$card-shadow-hover: 2px 6px 15px 3px rgba(7, 21, 10, 0.18);

$transition: 250ms ease-in;
