@import "../../utils/vars";
@import "../../utils/mixins";

.aboutWrapper {
  margin-top: 10px;

  @include tablet {
    margin-top: 20px;
  }
}

.paragraph {
  font-size: 0.875rem;

  @include tablet {
    font-size: 1rem;
  }

  &:not(:first-of-type) {
    margin-top: 10px;

    @include tablet {
      margin-top: 20px;
    }
  }
}

.link {
  color: $link-hover-color;
}
