@import "../../utils/vars";
@import "../../utils/mixins";

.heroTitle {
  font-size: 1.5rem;

  color: $header-color;

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    display: none;
  }

  &Desktop {
    display: none;

    font-size: 2.5rem;

    @include desktop {
      display: block;
    }
  }
}

.heroDescription {
  font-size: 0.875rem;
  margin-top: 20px;

  @include tablet-only {
    margin-top: none;
  }

  @include tablet {
    font-size: 1rem;
  }
}

.heroWrapper {
  @include tablet {
    display: flex;
  }

  &Small {
    display: flex;
    flex-direction: column;
    @include tablet-only {
      margin-top: 40px;

      margin-right: 25px;
    }
  }
}

.btnWrapper {
  display: flex;

  width: 100%;

  margin-top: 20px;
  justify-content: space-between;

  @include tablet-only {
    flex-direction: column;
    justify-content: unset;
  }

  @include desktop {
    margin-top: auto;
  }
}

.heroImage {
  @include mobile-only {
    display: none;
  }

  @include tablet {
    width: 280px;
    height: 280px;
  }

  @include desktop {
    max-width: 420px;
    max-height: 420px;
  }
}
