@import "../../utils/vars";
@import "../../utils/mixins";

.heroTitle {
  font-size: 1.5rem;
  color: $header-color;

  @include tablet {
    font-size: 2.5rem;
  }
}

.heroDescription {
  font-size: 0.875rem;

  @include mobile-only {
    margin-top: 20px;
  }

  @include tablet {
    font-size: 1rem;
  }
}

.heroWrapper {
  @include tablet {
    display: flex;
  }

  &Small {
    @include tablet {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      margin-right: 25px;
    }
  }
}

.btnWrapper {
  display: flex;

  width: 100%;

  margin-top: 20px;

  @include mobile-only {
    justify-content: space-between;
  }

  @include tablet {
    flex-direction: column;
  }
}

.btnMain {
  width: 155px;
  height: 41px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;

  font-size: 0.875rem;
  text-align: center;

  background-color: $main-btn-color;
  color: $alt-btn-color;

  opacity: 1;

  border-radius: $border-radius;
  transition: opacity $transition;

  @include tablet {
    font-size: 1rem;
  }

  &:last-child {
    @include tablet {
      margin-top: 20px;
    }
  }

  @include tablet {
    width: 100%;
    height: 50px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.heroImage {
  @include mobile-only {
    display: none;
  }

  @include tablet {
    width: 280px;
    height: 280px;
  }
}
